<h1 ng-bind="title" class="text-center mt-3"></h1>
<form>
  <!-- bat buoc co ng-submit , disabled -->
  <div class="mb-3">
    <label class="form-label">Ten</label>
    <input type="text" class="form-control" disabled ng-model="nhanvien.hoten">
  </div>
  <div class="mb-3">
    <label class="form-label">SDT</label>
    <input type="text" class="form-control" disabled ng-model="nhanvien.sdt">
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" disabled ng-model="nhanvien.email">
  </div>
  <div class="mb-3">
    <label class="form-label">Chuc vu</label>
    <select disabled ng-model="nhanvien.chucvu" class="form-select">
      <option value="" disabled >Chon chuc vu</option>
      <option value="Trưởng phòng">Trưởng phòng</option>
      <option value="Nhân viên">Nhân viên</option>
      <option value="Giám đốc">Giám đốc</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Ngay sinh</label>
    <input type="date" class="form-control" disabled ng-model="nhanvien.ngaysinh">
  </div>
  <a href="#!/edit/employee/{{nhanvien.id}}">
    <button type="button" class="btn btn-primary">Sua</button>
  </a>
</form>